
body {
    margin: 0;
justify-content: center;
    background-color: rgb(15, 117, 12);
   text-align: center;
}
.logo-h1{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;   /* important! siguraduhing ma-cut ang sobra */
   
    background-color: rgb(15, 117, 12);
}

#heading{
    text-align: right;
    font: 1em sans-serif;
    color:white
    
    

}
.background{
    position: fixed;
text-align: center;
    
    height: 90px;
    z-index: -1;
    
}
#l-email{
     color: white;
}

#l-password{
    color: white;
}
.email-pass{
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
